/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

.table-list{
	h2, p {
		text-align: center;
	}
	table tr td{
		cursor: pointer;
		outline: none;
	}
}